/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Custom PS365 branding colors */
:root {
  /* Primary color - Dark teal (#00353f) */
  --ifm-color-primary: #00353f;
  --ifm-color-primary-dark: #002a33;
  --ifm-color-primary-darker: #00262e;
  --ifm-color-primary-darkest: #001f26;
  --ifm-color-primary-light: #00404b;
  --ifm-color-primary-lighter: #004450;
  --ifm-color-primary-lightest: #004d5a;
  
  /* Orange accent color */
  --ifm-color-secondary: #de761d;
  --ifm-color-warning: #de761d;
  
  /* Navbar and footer styling */
  --ifm-navbar-background-color: #00353f;
  --ifm-footer-background-color: #000000;
  --ifm-footer-color: #ffffff;
  
  /* Code styling */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(222, 118, 29, 0.1);
  
  /* Link colors */
  --ifm-link-color: #de761d;
  --ifm-link-hover-color: #c7661a;
}

/* Dark mode theme */
[data-theme='dark'] {
  /* Primary colors in dark mode - using orange as primary for better visibility */
  --ifm-color-primary: #de761d;
  --ifm-color-primary-dark: #c7661a;
  --ifm-color-primary-darker: #bc6018;
  --ifm-color-primary-darkest: #9b5015;
  --ifm-color-primary-light: #e1861e;
  --ifm-color-primary-lighter: #e48c1f;
  --ifm-color-primary-lightest: #e99c22;
  
  /* Background colors */
  --ifm-background-color: #1b1b1d;
  --ifm-background-surface-color: #00353f;
  
  /* Navbar and footer in dark mode */
  --ifm-navbar-background-color: #000000;
  --ifm-footer-background-color: #000000;
  
  /* Code highlighting */
  --docusaurus-highlighted-code-line-bg: rgba(222, 118, 29, 0.2);
}
